:root {
    /* Colours */
    --blue-0: #E8F1FF;
    --blue-1: #B8D4FF;
    --blue-2: #88B7FF;
    --blue-3: #589AFF;
    --blue-4: #3881FA;
    --blue-5: #166BF5;
    --blue-6: #1259CC;
    --blue-7: #0F49A5;
    --blue-8: #0B397F;
    --blue-9: #082958;
    --blue-10: #041B36;

    /* Contrasts */
    --contrast-0: #FFFFFF;
    --contrast-1: #F2F2F2;
    --contrast-2: #CCCCCC;
    --contrast-3: #B2B2B2;
    --contrast-4: #999999;
    --contrast-5: #808080;
    --contrast-6: #666666;
    --contrast-7: #4D4D4D;
    --contrast-8: #333333;
    --contrast-9: #1A1A1A;
    --contrast-10: #000000;
    --border: var(--contrast-1);
    --cloudy: #fafafa;

    /* Mains */
    --main: var(--blue-5);
    --main-hover: var(--blue-4);
    --main-pressed:var(--blue-3);
    --disabled:var(--contrast-2);
    --disabled-text:var(--contrast-3);
    --main-light:var(--contrast-0);
    --hover-light:var(--blue-0);
    --main-hover-light: var(--blue-0);
    --main-pressed-light: var(--blue-2);
    --selected-light: var(--hover-light);
    --input-color:var(--bg-cloudy);
    --main-text:var(--contrast-0);
    --main-text-light:var(--main);
    --placeholder:var(--contrast-3);



    --bg-white: var(--contrast-0);
    --bg-cloudy: var(--cloudy);
    --bg-depth: var(--contrast-1);

    --text:var(--contrast-8);
    --text-light:var(--contrast-2);
}

body {
    background: var(--bg-cloudy);
    color: var(--contrast-10);
}

/* Dark Mode: when the dark-mode class is added */
body.dark-mode {
    

    --main: var(--blue-5);
    --main-hover: var(--blue-6);
    --main-hover-light: var(--blue-8);

    --bg-white: #2E2F33;
    --bg-cloudy: #222326;
    --bg-depth: #393B40;

    --text:var(--contrast-0);
    --disabled-text: var(--contrast-3);

    --border:var(--contrast-7);
}

/* ------------------- Global Styles ------------------- */

h1,h2,h3,h4,h5,h6,p,a,li,i,button,label{
  font-family: "Inter", sans-serif;
  color:var(--text);
}

p{
margin: 0;
line-height: 175%;
}

ul{
    padding: 0;
    list-style: none;
}



/* ------------------- Buttons ------------------- */
/* ------------------- Buttons ------------------- */
.button-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    
        button{
            flex:1;
        };
    }
    
    .btn{
        border-radius: .5rem;
        padding: 1rem 2rem;
        transition: all 200ms ease;
        font-weight: 600;
        border: none;
        max-width: 20rem;
    }
    .primary{
        background:var(--main);
        color:var(--main-text);
        border:none;
        transition:all 200ms ease;
        &:hover{
            background: var(--main-hover);
            box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.08);
        }
    
        &:active{
            background: var(--main-pressed);
            box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.08);
        }
    }
    
    .secondary{
        background:var(--main-light);
        color:var(--main-text-light);
        border:1px solid var(--main);
        transition:all 200ms ease;
    
        &:hover {
            background:var(--main-hover-light);
            color:var(--main);
        }
    
        &:active{
            background: var(--main-pressed-light);
            color:var(--main);
        }
    }
    
    .tertiary{
        background:var(--bg-white);
        color:var(--main);
        transition:all 200ms ease;
    
        &:hover {
            background:var(--main-hover-light);
            color:var(--main);
        }
    
        &:active{
            background: var(--main-pressed-light);
            color:var(--main);
        }
    }

    .btn-small{
        width: 3rem;
        aspect-ratio: 1/1;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    