:root {
    /* Colours */
    --blue-0: #E8F1FF;
    --blue-1: #B8D4FF;
    --blue-2: #88B7FF;
    --blue-3: #589AFF;
    --blue-4: #3881FA;
    --blue-5: #166BF5;
    --blue-6: #1259CC;
    --blue-7: #0F49A5;
    --blue-8: #0B397F;
    --blue-9: #082958;
    --blue-10: #041B36;

    /* Contrasts */
    --contrast-0: #FFFFFF;
    --contrast-1: #F2F2F2;
    --contrast-2: #CCCCCC;
    --contrast-3: #B2B2B2;
    --contrast-4: #999999;
    --contrast-5: #808080;
    --contrast-6: #666666;
    --contrast-7: #4D4D4D;
    --contrast-8: #333333;
    --contrast-9: #1A1A1A;
    --contrast-10: #000000;
    --border: var(--contrast-2);
    --cloudy: #fafafa;

    /* Mains */
    --main: var(--blue-5);
    --main-hover: var(--blue-4);
    --main-pressed:var(--blue-3);
    --disabled:var(--contrast-2);
    --disabled-text:var(--contrast-3);
    --main-light:var(--contrast-0);
    --hover-light:var(--blue-0);
    --main-hover-light: var(--blue-0);
    --main-pressed-light: var(--blue-2);
    --selected-light: var(--hover-light);
    --input-color:var(--bg-cloudy);
    --main-text:var(--contrast-0);
    --main-text-light:var(--main);
    --placeholder:var(--contrast-3);



    --bg-white: var(--contrast-0);
    --bg-cloudy: var(--cloudy);
    --bg-depth: var(--contrast-1);

    --text:var(--contrast-8);
    --text-light:var(--contrast-2);
}

body {
    background: var(--bg-cloudy);
    color: var(--contrast-10);
}

/* Dark Mode: when the dark-mode class is added */
body.dark-mode {
    

    --main: var(--blue-5);
    --main-hover: var(--blue-6);
    --main-hover-light: var(--blue-8);

    --bg-white: #2E2F33;
    --bg-cloudy: #222326;
    --bg-depth: #393B40;

    --text:var(--contrast-0);
    --disabled-text: var(--contrast-3);

    --border:var(--contrast-7);
}



h1,h2,h3,h4,h5,h6,p,a,li,i,button{
  font-family: "Inter", sans-serif;
  color:var(--text);
}

p{
margin: 0;
line-height: 175%;
}

ul{
    padding: 0;
    list-style: none;
}
/* ------------------- product-card ------------------- */
.product-card {
    background:var(--bg-white);
    border: solid 1px var(--border);
    padding:2rem;
    border-radius:1rem;
    display:flex;
    flex-direction:column;
    gap:2rem;
    max-width:30rem;
    transition:all 200ms ease;
    margin-bottom:1rem;

    &:hover{
        border: solid var(--main) 1px;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.08);
    cursor:pointer;
    }
    
    .hor{
    display:flex;
    flex-direction:row;
    align-items:center;
    }

    .hor.top{
        gap:1rem;

        p{
            font-weight:600;
        }

        img{
            width:2rem;
            aspect-ratio:1/1;
        }
    }

    .hor.env{
        gap:1rem;
        justify-content:start;
        flex-wrap:nowrap;

        .card {
            background: var(--bg-depth);
            gap: 1rem;
            padding: 1rem;
            font-size:0.8rem;
            flex-wrap:nowrap;
            width:auto;

            i{
                width:1rem;
                aspect-ratio:1/1;
                color:var(--text);
            }
        
        }
    }

    .information{
        display:flex;
        gap:1rem;
        flex-direction:column;

        .hor{
            justify-content:space-between;
            
            .flags-wrapper{
                gap:.5rem;

                .flag{
                    width:2rem;
                    aspect-ratio:4/3;
                    background:var(--contrast-1);
                }
            }
        }
    }

    .hor.plugins{
        gap:1rem;

        .plugin {
            background: var(--blue-0);
            border-radius:.5rem;
            width: 2rem;
            aspect-ratio: 1/1;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .price{
        p:nth-of-type(2){
            color: var(--disabled-text);
        }

        
    }
}

.btn{
    border-radius: .5rem;
    padding: 1rem 2rem;
    transition: all 200ms ease;
    font-weight: 600;
    border: none;
}
.primary{
    background:var(--main);
    color:var(--main-text);
    border:none;
    transition:all 200ms ease;
    &:hover{
        background: var(--main-hover);
        box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.08);
    }

    &:active{
        background: var(--main-pressed);
        box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.08);
    }
}



.secondary{
    background:var(--main-light);
    color:var(--main-text-light);
    border:1px solid var(--main);
    transition:all 200ms ease;

    &:hover {
        background:var(--main-hover-light);
        color:var(--main);
    }

    &:active{
        background: var(--main-pressed-light);
        color:var(--main);
    }
}

.tertiary{
    background:var(--bg-white);
    color:var(--main);
    transition:all 200ms ease;

    &:hover {
        background:var(--main-hover-light);
        color:var(--main);
    }

    &:active{
        background: var(--main-pressed-light);
        color:var(--main);
    }
}

.btn-small{
    width: 3rem;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
}


.row.button-row{
    gap:1rem;
    flex-wrap:wrap;
    justify-content:space-between;
    display: flex;

    button{
        flex:1;
    }
}

/* ------------------- HEADER ------------------- */
.header{
    padding: 1rem;
    border-bottom: solid 1px var(--border);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    align-items: center;

    i{
        font-size: 1.25rem;
    }
}

/* ------------------- SIDEBAR ------------------- */
.sidebar{
    background: var(--bg-white);
    border-right: solid 1px var(--border);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: sticky;
    top: 0;
    height: 100vh;
    width: 400px;

    .top{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 0 1rem;
        .actions{
            display: flex;
            flex-direction: row;
            gap: 1rem;
        }
        .profile{
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 1rem;

            .profile-circle{
                width: 2rem;
                aspect-ratio: 1/1;
                border-radius: 50%;
                background: var(--blue-0);
            }
        }
    }

    ul.menu{
        gap: .5rem;
        display: flex;
        flex-direction: column;
        height: 100%;
        position: relative;
        padding: 0 1rem;
        li{
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 1rem;
            border-radius: 1rem;
            transition: all 100ms ease;

            &:hover{
                background-color: var(--main-hover-light);
            }

            &.active{
                background-color: var(--main-hover-light);
            }
        }

        &.bottom{
        height: auto;
        }
    }

    
}